.card {
    display: flex;
    margin-left: 40px;
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin: 0.5%;
    margin-bottom: 30px;
}

p {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    margin-right: 10px;
    display: inline-block;
}

.razao {
    width: 100%;
    height: auto;
    margin: 1px;
    border-top-left-radius: 10px;
    text-align: start;

}

.produtos {
    width: 100%;
    height: auto;
    margin: 1px;
    text-align: start;

}

.details {
    width: 100%;
    height: auto;
    margin: 1px;
    text-align: center; 
}
.details p  {
    text-decoration: none;
    color: rgb(97, 97, 97);
}
.details p:hover { 
    color: black;
}