.navbar {
    display: flex;
    justify-content: center;
    background-color: #222 ;
    padding: 1em;
    font-family: 'Open Sans', 'Sans-serif';
}

.list {
    display: flex;
    list-style: none;
    align-items: center;

}

.item {
    margin-right: 1em;
}

.item a {
    color: #f8fceb;
    text-decoration: none;
}

.item a:hover {
    color: #f8fceb;
}