.form {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-top: 50px;
    /* border: 1px solid #222; */
    border-radius: 15px;
    /* float:none; */

}
h2 { 
    margin-bottom: 50px;
}

.form label { 
display: flex;
padding: 2px;
margin-bottom: 5px;
}

.form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #222;
    width: 350px;
}

.form1 input { 
    display: block;
}

.contatosForm label { 
    
    
}
.contatosForm input { 
    display: inline;
    margin-bottom: 20px;
    margin-right: 20px;
}

.form button { 
        background-color: rgba(0,99,255,1);
        color: #fff;
        margin-top: 50px;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        width: 45vh;
        font-size: medium;
}

button:hover{
background-color: aquamarine;
} 
