.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Open Sans', 'Sans-serif';
}
.detalhes { 
    margin-top: 50px;
    padding: 1em;
    border: 1px solid #222;
    border-radius: 15px;
}

.detalhes h1 { 
    background-color: #222;
    color: #fff;
    padding: .4em;
    margin-bottom: 1.3em;
    border-radius: 10px;
}
h2{ 
    margin-top: 50px;
}
p { 
    font-weight: bold;
}

.contatos h4 { 
    margin-top: 5px;
    text-align:initial;
    display: inline-flex;
    margin-right: 50px;
}