body {
  background-color: #f8fceb;
  margin: auto;
}

.container {
  text-align: center;
  background-color: #f8fceb;
  max-width: 85%;
  display: flex;
  justify-content:space-between;
  margin: 10px;
  flex-wrap: wrap;
}

