body {
  background-color: #f8fceb;
  margin: auto;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Open Sans', 'Sans-serif';

}
